 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 20 px;
    font-weight: bold;
    font-family: sans-serif;
}

h2 {
    font: bold 14px sans-serif;
}

header,section ,footer, nav, article, hgroup {
    display: block;
}

body {
    text-align: left;
    background-color: #0C5898;
}

.agrupas {
    width: 960px;
    border: 1px solid black;
    margin: 15px auto;
    background: teal;
}

.header {
    background: teal;
    border: 1px solid #414042;
    padding: 20px;
    text-align: center;
    color: white;
}

.cabecera {
    background: #252850;
    padding: 5px 15px;
    color: white;
}

.cabecera li {
    list-style: none;
    padding: 5px;
    font: bold 14px verdana;
    display: inline-block;
}

.seccion {
    margin: 20px;
    width: 95%;
    float: left;
    background: teal;
}

article {
    background: #06CDBE;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 15px;
    text-align: center;
}

time {
    color: #999;
}

article footer {
    text-align: right;
    margin-top: 20px;
}
.col-md-4 {
    text-align: left;
}

.pug {
    width: 300px;
    float: left;
    text-align: center;
    margin: 20px 0;

}

.pug blockquote {
    border: 1px solid black;
    padding: 40px;
    background: teal;
    margin-bottom: 20px;
}

.pie {
    clear: both;
    text-align: center;
    padding: 20px;
    background: #434847;
    color: white;
}

img {
    width: 250px;
    display: block;
    margin: 20px auto;
}

a {
 color: black;
}

.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #000000;
  color: #ffffff;
  font-size: 15px;
  border: 1px solid rgb(255, 255, 255);
  margin: 0px 0px;
}
