 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 20 px;
    font-weight: bold;
    font-family: sans-serif;
}

h2 {
    font: bold 14px sans-serif;
}

header,section ,footer , aside, nav, article, hgroup {
    display: block;
}

body {
    text-align: left;
    background-color: #E0FFFF;
}

.agrupas {
    width: 960px;
    border: 1px solid black;
    margin: 15px auto;
    background: teal;
}

.header {
    background: teal;
    border: 1px solid #414042;
    padding: 20px;
    text-align: center;
    color: white;
}

.cabecera {
    background: #5a58dd;
    padding: 5px 15px;
}

.cabecera li {
    list-style: none;
    padding: 5px;
    font: bold 14px verdana;
    display: inline-block;
}

.seccion {
    margin: 20px;
    width: 600px;
    float: left;
    background: rgb(34, 104, 145);
}

article {
    background: rgb(146, 219, 219);
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 15px;
    text-align: center;
}

time {
    color: #999;
}

article footer {
    text-align: right;
    margin-top: 20px;
}
.col-md-4 {
    text-align: left;
}

.pug {
    width: 300px;
    float: left;
    text-align: center;
    margin: 20px 0;

}

.pug blockquote {
    border: 1px solid black;
    padding: 40px;
    background: rgb(146, 219, 219);
    margin-bottom: 20px;
}

.pie {
    clear: both;
    text-align: center;
    padding: 20px;
    background: rgb(61, 59, 59);
    color: white;
}

img {
    width: 250px;
    display: block;
    margin: 20px auto;
}
