 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 20 px;
    font-weight: bold;
    font-family: sans-serif;
    background: teal;
    color: white;
    border: 1px solid black;
    padding: 20px;
}

body {
    text-align: center;
    background-color: #0C5898;
}

article{
 background: #06CDBE;
}
